{{blog.content}}
<br>
<p><img src={{blog.image}} width = 400px height = 250px alt={{blog.topic}}></p>
 <em><p>Cost: {{blog.rate}}<br>{{blog.date}}</p></em><br>
<button class="btn btn-primary" {{action 'delete' blog}}>Delete</button><br>
<br>
