<h1>Today's Top Stories</h1>

<div class="row">
  <div class="col-md-2"></div>

<ul>
  {{#each model as |blog|}}
     <li><h3>{{blog.heading}}</h3><img src={{blog.image}} width=500px height=200px><h4>{{blog.topic}}</h4> {{blog.starter}}<br>{{blog.date}}<br>{{blog.rate}}
       {{blog-tile blog=blog update="update" destroyBlog="destroyBlog"}}</li>
  {{/each}}
</ul>

<div class="col-md-2"></div>
</div>



{{new-blog saveBlog2="saveBlog3"}}
